.containers{
    display: flex;
  justify-content: space-between;
}
#container{
    width: 65%; /* 10 birimlik yer kaplar */
    background-color: #017374;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-left: 4%; /* İki div arasında 10 piksel boşluk bırakır */
    margin-top: 4%;
    border-radius: 5%;
}
.poem-area{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.row{
    margin-top: 20px;
}
#button{
    padding: 10px;
    width: 150px;
    margin: 20px 0;
    background-color:#1F3B4D ;
}
.label{
    font-size: 20px;
    color: white;
}
.poem{
    background-color:#D0FEFE;
    color: #1F3B4D;
    text-align: center;
    padding:10px 0;
}

#profil{
    width: 25%; /* 3 yanyana sıralanır */
    background-color: #017374;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 4%;
    border-radius: 5%;
    
}
.name{
    margin-top: 5%;
    margin-bottom: 19%;
    color: white;
}
#child{
    float: left;
}
.labelProfil{
    color: #1F3B4D;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: large;
    background-color: #D0FEFE;
    padding: 2% 6%;
    border-radius: 5px;
    
}

.profil span{
    font-size: large;
    background-color: white;
    padding: 2% 6%;
    
}
