<div class="container">
    <div class="poem-area">
        <form [formGroup]="poemAddForm">
            <div class="row">
                <label class="label" >Şiirinizin ismini girin</label>
                <input type="text" class="poem" formControlName="poemName">
            </div>
            <div class="row">
                <label class="label">Şiirinizi giriniz</label>
                <textarea formControlName="poemText" name="" class="poem" id="" cols="30" rows="10"></textarea>
            </div>
        </form>
        <button type="button" (click)="Add()" id="button" class="btn btn-primary">Ekle</button>
        <textarea [(ngModel)]="deneme" name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>
