
<div class="container">
    <div class="title">Şiir Nedir?</div>
    <div class="context">
        <p>     Şiir, sözcüklerin düz anlamlarına ek olmak üzere ya da bunların yerine başka anlamlar oluşturmak için dilin ses estetiği veya ses 
            sembolizmi ve ölçü gibi estetik ve ritmik özelliklerini kullanan bir edebiyat türüdür.
            Müellif İsmail Durmuş İslam ansiklopedisinde “mübalağa sanatı”nın şiirin temel karakteristiği olduğu üzerinde durmaktadır.
        </p>
        <p>
                Şiir, Sümerlerin Gılgamış Destanı’na kadar uzanan köklü bir tarihe sahiptir. İlk şiirler Çincede olduğu gibi halk şarkılarından ya da Sanskritçe Vedalar,
             Zerdüştlük inancının Gataları ve Homeros’un "İlyada" ile "Odysseia"sı gibi destanların yeniden sözlü anlatım ihtiyacından ortaya çıkmıştır. 
             Şiirin tanımlanması için antik dönemdeki çalışmalar, 
             Aristoteles’in Poetikasında olduğu gibi konuşmanın, retorik, drama, şarkı ve komedide kullanımına odaklanmıştır. Daha sonraki çalışmalar, yineleme, 
             mısra biçimi ve kafiye gibi özelliklere yoğunlaşmış ve şiiri tartışmasız olarak bilgilendirici, 
             düzyazı formlarından ayıran estetik olgusuna vurgu yapmıştır. 
            Yirminci yüzyılın ortalarından itibaren şiir dile yön veren temel yaratıcı güç olarak daha fazla anılır olmuştur.
        </p>
        <p>
                Şiir, sözcüklere farklı yorumlar getirmek veya onlardan kaynaklanan duygusal tepkiler yaratmak için biçim ve bir araya getirmeleri kullanır. 
            Asonans, aliterasyon, yansıma ve ritim gibi araçlar müzikal veya arpağ etkisi oluşturmak için bazen kullanılmaktadır. Şiir dilinin anlam belirsizliği, 
            sembolizm, ironi ve diğer stilleri gibi araçları şiiri farklı yorumlamalara uygun hâle getirir. Benzer biçimde mecaz, benzetme ve mecaz-ı mürselgibi konuşmanın 
            öğeleri daha önce algılanmamış farklı imajlar arasında bir anlam katmanı içeren bir ilişki kurmaktadır. 
            Kafiye ve ritim kurgusu içinde şiirin sözleri arasında da benzer yakınlıklar kurulabilir.
        </p>

    </div>
</div>