  
<div  class="backround">
    <div class="container">
        <div class="poem-name"><span>{{poem.poemName}}</span></div>
        <div class="poem-text"><pre>{{poem.poemText}}</pre></div>
        <div class="informations">
            <label for="" class="title">Puan=</label>
            <span class="information">{{poemScore}}</span>
            <label for="" class="title">Yazar=</label>
            <span class="information">{{user.fakeName}}</span>
            <label for="" class="title">Puan veren kişi=</label>
            <span class="information">{{peoplePoints}}</span>

        </div>
    </div>
</div>
