<div  class="backround">
    <div class="container">
        <div class="poem-name"><span>{{poemUserScoresModel.poem.poemName}}</span></div>
        <div class="poem-text"><pre>{{poemUserScoresModel.poem.poemText}}</pre></div>
        <div class="informations">
            <label for="" class="title">Puan=</label>
            <span class="information">{{poemUserScoresModel.poemScore}}</span>
            <label for="" class="title">Yazar=</label>
            <span class="information">{{poemUserScoresModel.fakeName}}</span>
        </div>
    </div>
</div>
